@import "../palette.scss";

.l-details-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "left top"
        "left bottom";
    height: calc(100vh - 4rem); // To match header height

    &__image {
        grid-area: left;
        margin-right: 2rem;
    }

    &__description {
        grid-area: top;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__actions {
        grid-area: bottom;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media(max-width:500px) {
    .l-details-page {
        display: flex;
        flex-direction: column;
        height: calc(100% - 6rem); // To match header height
    }
}