.c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #c6c6c6;
    height: 4rem;
    z-index: 12;
    padding: 0 2rem;
  
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }