@import "../palette.scss";

.c-product-description {
    width: 100%;
    height: auto;
    border: 2px solid $black;
    margin-right: 2rem;
    border-radius: 4px;
    padding: 1rem;
    background-color: rgba(229, 230, 245, 0.22);

    &__header {}

    &__list {
        padding: 0 !important;

        li {
            list-style-type: none;
            padding: 4px 0;
        }
    }
}