@import "../palette.scss";

.c-product-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border: 3px solid $orange;
        height: 40vh;
        border-radius: 14px;
        filter: drop-shadow(0 0 30px white) drop-shadow(0 0 30px white);
    }
}