@import "../palette.scss";

.c-product-actions {
    width: 100%;
    height: auto;
    border: 2px solid $black;
    margin-right: 2rem;
    border-radius: 4px;
    padding: 1rem;
    background-color: rgba(229, 230, 245, 0.22);

    &__colors {
        display: flex;
        gap: 2rem;
    }

    &__storage {
        display: flex;
        gap: 2rem;
    }

    &__button {
        margin: 2rem 0;

        button {
         
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 13px 16px;
  text-align: center;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;

&:after {
  background-clip: padding-box;
  background-color: $blue-2;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


        }
    }

    &__item {
        border: 2px solid $black;
        padding: 0.5rem;
        border-radius: 4px;
        user-select: none;

        &:hover {
            cursor: pointer;
        }

        &--selected {
            border: 2px solid $white;
            padding: 0.5rem;
            border-radius: 4px;
            background-color: $black;
            color: $white;
        }
    }
}